@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: #ffffff;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #00b0ff;
  }
  40% {
    stroke: #40c4ff;
  }
  66% {
    stroke: #80d8ff;
  }
  80%,
  90% {
    stroke: #0091ea;
  }
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  z-index: 20;
}
.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes top-bar-expand {
  from {
    min-height: 0;
    height: 0;
  }
  to {
    min-height: 64px;
    height: 64px;
  }
}
@keyframes top-bar-expand {
  from {
    min-height: 0;
    height: 0;
  }
  to {
    min-height: 64px;
    height: 64px;
  }
}
@keyframes top-bar-title-expand {
  from {
    transform: translateX(-100);
  }
  to {
    transform: translateX(100);
  }
}
.lroc-topbar {
  height: 0;
  min-height: 0;
}
.lroc-topbar-expanded {
  height: 64px;
  min-height: 64px;
  animation: top-bar-expand 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}
.lroc-topbar .lroc-topbar-title {
  visibility: hidden;
  border-right: .1em solid;
  width: 186px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.lroc-topbar .lroc-topbar-title--expanded {
  visibility: visible;
  width: 213px;
  animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
.lroc-topbar .lroc-topbar-time-running {
  visibility: hidden;
  border-right: .1em solid;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.lroc-topbar .lroc-topbar-time-running--expanded {
  visibility: visible;
  width: 500px;
  animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes side-nav-expand {
  from {
    max-width: 0;
  }
  to {
    max-width: 265px;
  }
}
@keyframes side-dob-alpha {
  from {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  }
  to {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}
.lroc-sidenav {
  max-width: 0;
}
.lroc-sidenav.sidenav-expanded {
  animation: side-nav-expand 1s cubic-bezier(0.68, -0.55, 0.265, 1.5);
  max-width: 265px;
}
.lroc-sidenav .lroc-summary .lroc-avatar-container {
  text-align: center;
}
.lroc-sidenav .lroc-summary .lroc-avatar-container .lroc-author-icon {
  object-fit: cover;
  border-radius: 99%;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border: 5px solid #ccc;
}
.lroc-sidenav .lroc-summary .lroc-author-name,
.lroc-sidenav .lroc-summary .lroc-author-email {
  text-align: center;
}
.lroc-sidenav .lroc-summary .lroc-Dob {
  color: #ff4081;
  text-align: center;
  font-size: .6rem;
  animation: side-dob-alpha 10s cubic-bezier(0.68, -0.55, 0.265, 1.5);
  transition-delay: 5s;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
  z-index: 61;
}
.md-whiteframe-glow-z1 md-truncate {
  color: #eee;
  /*color: transparent;*/
  font-weight: 900;
  /*text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
		background-clip:text;*/
}
.lroc-hidden {
  visibility: hidden;
}
.lroc-visible--grow--fastest {
  visibility: visible;
  animation: grow 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}
.lroc-visible--grow--fast {
  visibility: visible;
  animation: grow 1s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}
