
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink-caret {
	50% {
		border-color: transparent;
	}
}

@keyframes grow {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}