@keyframes side-nav-expand {
	from {
		max-width: 0;
	}
	to {
		max-width: 265px;
	}
}
@keyframes side-dob-alpha {
	from {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	to {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}

.lroc-sidenav {
	max-width: 0;

	&.sidenav-expanded {
		animation: side-nav-expand 1s cubic-bezier(0.68, -0.55, 0.265, 1.5);
		max-width: 265px;
	}

	.lroc-summary {
		.lroc-avatar-container {
			text-align: center;

			.lroc-author-icon {
				object-fit: cover;
				border-radius: 99%;
				background-color: #fff;
				width: 100px;
				height: 100px;
				border: 5px solid #ccc;
			}
		}

		.lroc-author-name,
		.lroc-author-email {
			text-align: center;
		}

		.lroc-Dob {
			color: rgb(255, 64, 129);
			text-align: center;
			font-size: .6rem;
			animation: side-dob-alpha 10s cubic-bezier(0.68, -0.55, 0.265, 1.5);
			transition-delay: 5s;
		}
	}
}
