@keyframes top-bar-expand {
	from {
		min-height: 0;
		height: 0;
	}

	to {
		min-height: 64px;
		height: 64px;
	}
}
@keyframes top-bar-expand {
	from {
		min-height: 0;
		height: 0;
	}
	to {
		min-height: 64px;
		height: 64px;
	}
}
@keyframes top-bar-title-expand {
	from {
		transform: translateX(-100);
	}
	to {
		transform: translateX(100);
	}
}

.lroc-topbar {
	height: 0;
	min-height: 0;

	&-expanded {
		height: 64px;
		min-height: 64px;
		animation: top-bar-expand .5s cubic-bezier(0.68, -0.55, 0.265, 1.5);
	}

	.lroc-topbar-title {
		visibility: hidden;
		border-right: .1em solid;
		width: 186px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;

		&--expanded {
			visibility: visible;
			width: 213px;
			animation: typing 1s steps(13, end), blink-caret .5s step-end infinite alternate;
		}
	}

	.lroc-topbar-time-running {
		visibility: hidden;
		border-right: .1em solid;
		width: 500px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;

		&--expanded {
			visibility: visible;
			width: 500px;
			animation: typing 1s steps(13, end), blink-caret .5s step-end infinite alternate;
		}
	}
}

