@import '_vars';
@import '_material-icons';
@import '_loader';
@import '_topbar';
@import '_keyframes';
@import '_sidebar';

.md-whiteframe-glow-z1 {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
	z-index: 61;

	md-truncate {
		color: @contrast-color;
		/*color: transparent;*/
		font-weight: 900;
		/*text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
		background-clip:text;*/
	}
}
.lroc-hidden {
	visibility: hidden;
}
.lroc-visible--grow--fastest {
	visibility: visible;
	animation: grow .5s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}
.lroc-visible--grow--fast {
	visibility: visible;
	animation: grow 1s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}





