<div class="m-app-loading" ng-animate-children>
	<style type="text/css">
		div.m-app-loading {
			position: fixed;
		}

			div.m-app-loading div.animated-container {
				background-color: #333333;
				bottom: 0px;
				left: 0px;
				opacity: 1.0;
				position: fixed;
				right: 0px;
				top: 0px;
				z-index: 10;
			}
				/* Used to initialize the ng-leave animation state. */
				div.m-app-loading div.animated-container.ng-leave {
					opacity: 1.0;
					transition: all linear 200ms;
					-webkit-transition: all linear 200ms;
				}
				/* Used to set the end properties of the ng-leave animation state. */
				div.m-app-loading div.animated-container.ng-leave-active {
					opacity: 0;
				}

			div.m-app-loading div.messaging {
				color: #FFFFFF;
				font-family: monospace;
				left: 0px;
				margin-top: -37px;
				position: absolute;
				right: 0px;
				text-align: center;
				top: 50%;
			}

			div.m-app-loading h1 {
				font-size: 26px;
				line-height: 35px;
				margin: 0px 0px 20px 0px;
			}

			div.m-app-loading p {
				font-size: 18px;
				line-height: 14px;
				margin: 0px 0px 0px 0px;
			}
	</style>
	<div class="animated-container">
		<div class="messaging">
			<div class="showbox">
				<div class="loader">
					<svg class="circular" viewBox="25 25 50 50">
						<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>