<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<link rel="stylesheet" href="stylesheets/vendor.min.css" />
<link rel="stylesheet" href="stylesheets/app.css" />