<script type="text/javascript" src="javascripts/vendor.min.js"></script>
<script type="text/javascript" src="javascripts/require.js" data-main="javascripts/app.js"></script>
<script>
	(function start() {
		require(['app'], function (app) {
			angular.bootstrap(document, ['app']);
		})
	})();
</script>