﻿<md-toolbar ng-cloak  class="md-hue-1 md-whiteframe-glow-z1 lroc-topbar" style="margin-top:-20px;" ng-class="topbar_expanded">
	<div class="md-toolbar-tools">
		<md-truncate class="lroc-topbar-title" md-colors="{color: 'accent'}" ng-class="topbar_title_expanded">{{title}}</md-truncate>
	</div>
</md-toolbar>