﻿<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 lroc-sidenav" ng-class="sidenav_expanded" md-disable-backdrop md-component-id="left" md-is-locked-open="true">
	{{> sidebar/summary}}
	<md-list>
		<md-item>
			<a>
				<md-item-content md-ink-ripple layout="row" layout-align="start center">
					<div class="inset">
					</div>
					<div class="inset">
						
					</div>
				</md-item-content>
			</a>
		</md-item>
		<md-divider></md-divider>
		<md-subheader>
			<timer interval="1000" language="en" start-time="timeRunning"><strong>{[{yearUnit}]}</strong></timer>
		</md-subheader>
		<md-item>
			<a>
				<md-item-content md-ink-ripple layout="row" layout-align="start center">
					<div class="inset">

					</div>
					<div class="inset">
					</div>
				</md-item-content>
			</a>
		</md-item>
	</md-list>
</md-sidenav>