﻿<md-toolbar class="md-hue-1 lroc-summary md-warn" style="margin-top:-20px;">
	<span flex></span>
	<div layout="column" class="md-toolbar-tools-bottom inset">
		<div class="lroc-avatar-container">
			<img ng-src="images/images/{[{::Character.detail.avatar}]}" class="lroc-author-icon lroc-hidden" ng-class="ready_fastest">
		</div>
		<div class="lroc-author-name lroc-hidden" ng-class="ready_fastest" md-colors="{color: 'accent'}">{[{::Character.firstName }]} {[{::Character.lastName }]}</div>
		<div class="lroc-author-email lroc-hidden" ng-class="ready_fast" md-colors="{color: 'accent'}"><i class="material-icons">star_rate</i> {[{::Character.detail.exp}]}Xp</div>
	</div>
</md-toolbar>
 