<!doctype html>
<html lang="en">
<head>
	{{> head-meta }}
	<title>{{title}}</title>
	{{> head-links}}
</head>
<body layout="column" flex ng-controller="appController as ctrl" md-theme="{[{Character.detail.Theme}]}" md-theme-watch="true">
	{{> toolbar}}
	<div ng-cloak layout="row" flex>
		{{> sidebar/sidebar }}
		{{> main-content}}
	</div>
	{{> scripts }}
	{{> circular-progress-loader }}
</body>
</html>